<!DOCTYPE html>
<html>
<head>
    <title>Real-time Chat</title>
</head>
<body>
    <h1>Real-time Chat</h1>
    <form id="userform">
        <label for="username">Введите ваше имя: </label>
        <input type="text" id="username" required>
        <button type="button" onclick="connectToChat()">Подключиться</button>
    </form>
    <div id="chatbox" class="chatbox"></div>
    <form>
        <input type="text" id="msgbox" onkeypress="sendMessageByEnter(event)" required>
        <button type="button" onclick="sendMessage()">Отправить</button>
    </form>

    <style>
        .chatbox {
            height: 200px;
            width: 300px;
            overflow-y: scroll;
            border: 1px solid #ccc;
        }
    </style>

    <script>
        let socket;
        let username;
        const chatbox = document.getElementById("chatbox");
        const msgbox = document.getElementById("msgbox");

        function connectToChat() {
            username = document.getElementById("username").value;
            if (username) {
                socket = new WebSocket(`ws://localhost:8000/ws/${username}`);
                socket.onmessage = function(event) {
                    chatbox.innerHTML += event.data + "<br>";
                    chatbox.scrollTop = chatbox.scrollHeight;
                };
                document.getElementById("userform").style.display = "none";
                msgbox.focus();
            }
        }

        function sendMessage() {
            const message = msgbox.value;
            if (socket && message) {
                socket.send(message);
                msgbox.value = "";
                msgbox.focus();
            }
        }

        function sendMessageByEnter (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                sendMessage();
            }
        }

    </script>
</body>
</html>
